<nz-spin [nzSpinning]="pageLoading">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="grid grid-cols-4 gap-[18px] mb-[15px]">
      <div>
        <nz-form-label>First name:</nz-form-label>
        <nz-form-control>
          <input formControlName="firstName" type="text" nz-input placeholder="Type..." />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Middle Name</nz-form-label>
        <nz-form-control>
          <input type="text" formControlName="middleName" nz-input placeholder="Type..." />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Last Name</nz-form-label>
        <nz-form-control>
          <input formControlName="lastName" type="text" nz-input placeholder="Type..." />
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Gender</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="gender" nzSize="default" nzPlaceHolder="Select Gender">
            <nz-option nzValue="male" [nzLabel]="'Male'"></nz-option>
            <nz-option nzValue="female" [nzLabel]="'Female'"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Birth Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="birthdate" nzSize="default"
            nzPlaceHolder="Choose Birth Date"></nz-date-picker>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Specialty:</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="specialty" nzShowSearch nzServerSearch nzAllowClear
            [(ngModel)]="selectedSpecialtiesOption" (nzOnSearch)="onSearchSpeciality($event)"
            (ngModelChange)="onChangeSpecialtiesOption($event)" nzSize="default" nzPlaceHolder="Specialty">
            <nz-option *ngFor="let item of medicalSpecialtiesOptions" [nzValue]="item.value"
              [nzLabel]="item.label"></nz-option>
          </nz-select>
          <nz-option *ngIf="isSpecialtiesOptionLoading" nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Loading Data...
          </nz-option>
        </nz-form-control>
      </div>
      <div>
        <nz-form-label>Level:</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="level" nzSize="default" nzPlaceHolder="Select level">
            <nz-option *ngFor="let item of levelOptions" [nzValue]="item?.value" [nzLabel]="item?.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div class="w-full mb-[15px]">
      <nz-form-label>Description</nz-form-label>
      <nz-form-control>
        <textarea formControlName="description" nz-input nzType="textarea" placeholder="Description" rows="4"
          nzSize="large"></textarea>
      </nz-form-control>
    </div>
    <div class="flex justify-end mt-[57px]">
      <button (click)="onCancel()" nz-button nzType="primary" nzSize="large"
        class="text-[12px] font-semibold w-[100px] h-[38px] rounded-full text-[#B8B8B8] bg-[#F3F3F3] border-[#F3F3F3]">
        Cancel
      </button>
      <button nz-button nzType="primary" nzSize="large" type="submit"
        class="text-[12px] font-semibold w-[100px] h-[38px] rounded-full bg-success ml-[11px]">
        Save
      </button>
    </div>
  </form>
</nz-spin>