<nz-spin [nzSpinning]="pageLoading">
  <div class="flex items-center">
    <h2 class="text-black font-semibold text-[22px] mr-[49px]">Add Doctor</h2>
    <div class="bg-[#F5F5F5] h-[46px] max-w-[335px] w-full rounded-full relative">
      <input [(ngModel)]="searchTerm" (keyup)="onSearch($event)" type="text" placeholder="Search here..."
        class="h-full w-full text-[13px] font-medium bg-[#F5F5F5] outline-none px-[16px] rounded-full" />
      <div class="absolute right-0 top-0 flex items-center h-full pr-4">
        <img src="../../../../assets/icons/search.png" class="" alt="" />
      </div>
    </div>
  </div>
  <p class="text-[#C4C4C4] text-[12px]">232 Lisitngs..</p>
  <nz-table class="table-gaps" #basicTable [nzData]="listOfData" [nzPageSize]="10" [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageChange($event)" [nzShowPagination]="true" [nzTotal]="total">
    <thead>
      <tr>
        <th nzWidth="120px">Doctor ID</th>
        <th nzWidth="220px">Doctor Name</th>
        <th nzWidth="150px">Specialty</th>
        <th nzWidth="100px">Level</th>
        <th nzWidth="150px">Birthdate (Age)</th>
        <th nzWidth="100px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.doctorId }}</td>
        <td>{{ data.firstName }} {{data.lastName}}</td>
        <td>{{ data.specialty }}</td>
        <td>{{ data.level }}</td>
        <td>{{ data.birthDate | date:'MMM d, y'}}</td>
        <td>
          <button nz-button class="border-primary text-primary" (click)="onAddDoctor(data)">+ Add</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>