<nz-affix [nzOffsetTop]="100">
  <nz-spin [nzSpinning]="pageLoading" class="sticky top-36">
    <div class="mb-[7px] bg-green pt-[22px] px-[19px] rounded-tl-[13px] rounded-tr-[13px] ">
      <div class="flex relative">
        <div class="h-[65px] w-[65px] bg-[#f4f4f454] flex items-center justify-center rounded-[4px]">
          <img src="assets/icons/gaticn.png" alt="" class="h-[31px] w-[31px]" />
        </div>
        <div class="flex-1 pl-[12px]">
          <h2 class="text-white font-bold text-[18px]">{{data?.name}}</h2>
          <p class="text-[12px] text-[#FFFFFF] opacity-[.65] font-medium my-1" nz-typography nz-typography nzEllipsis
            nz-popover [nzPopoverContent]="contentTemplateAddress" nzEllipsisRows="2">
            <ng-template #contentTemplateAddress>
              <div class="w-[300px]">
                {{data.address }}
              </div>
            </ng-template>
            {{data.address }}
          </p>
          <p class="text-[12px] text-[#FFFFFF]">Street address</p>
        </div>
        <img src="assets/icons/edit-icon.png" class="h-[18px] w-[18px] absolute right-0 top-0 cursor-pointer"
          (click)="onEditMedicalCenter()" alt="">
      </div>
      <div class="flex mt-[36px] justify-between items-center">
        <div class="">
          <h2 class="text-white font-bold text-[14px]">{{schedules?.length}} Doctors Scheduled</h2>
          <p class="text-[11px] text-[#FFFFFF] opacity-[.65] font-medium my-1">Closest Exparation Date is 15-09-2022
          </p>
        </div>
        <div class=" flex items-center px-[14px] py-[10px]  border-solid border-[1px] border-white rounded-[7px]">
          <span class="text-white" nz-icon nzType="plus" nzTheme="outline"></span>
          <span class="text-[11px] text-white font-semibold ml-[10px] cursor-pointer" (click)="onAddDoctor()"> Add
            Doctor</span>
        </div>
      </div>
      <div class="flex items-center space-x-[11px] py-[15px]">
        <div class="relative space-x-2 flex-1 w-full flex items-center rounded-full h-[42px] ">
          <input (keyup)="onSearch($event)" [(ngModel)]="searchTerm" type="text"
            class="bg-white italic rounded-full w-full h-[42px] px-[17px] outline-none" placeholder="Search here...">
          <div class="absolute right-0 top-0 h-full flex items-center pr-[17px]">
            <img src="assets/icons/searchBlk.png" alt="">
          </div>
        </div>
        <div>
          <img src="assets/icons/filter.png" class="h-[18px] w-[18px]" alt="">
        </div>
      </div>
    </div>
    <div class="sch-scroller-container overflow-y-scroll h-[45vh] custom-scrollbar" infiniteScroll
      [infiniteScrollDistance]="100" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
      <app-schedule-item [data]="item" *ngFor="let item of schedules"
        (afterUpdateSchedule)="afterUpdateSchedule()"></app-schedule-item>
      <nz-spin *ngIf="infiniteScrollLoading" nzSize="large" nzTip="Loading...">
        <div style="min-height: 200px;">
        </div>
      </nz-spin>
    </div>
  </nz-spin>
</nz-affix>