<nz-spin [nzSpinning]="pageLoading">
  <div class="bg-white h-screen w-screen flex justify-center items-center">
    <div class="max-w-[478px] mx-auto w-full px-5">
      <h2 class="text-2xl font-bold text-black">Welcome To Telemedicine!</h2>
      <p class="text-[17px] text-gray">Lets start to quick login there...</p>
      <form nz-form [formGroup]="validateForm" class="mt-[22px]" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user" nzSize="large">
              <input type="text" nz-input nzSize="large" class="italic" formControlName="username"
                placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock" nzSize="large">
              <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Password"
                class="italic" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="text-right mt-5">
          <a class="text-primary font-medium hover:underline">Forgot password</a>
        </div>
        <button nz-button nzBlock nzSize="large"
          class="rounded-full mt-[111px] h-[60px] transition hover:bg-transparent hover:text-primary"
          [nzType]="'primary'">
          Login Now
        </button>
      </form>
    </div>
  </div>
</nz-spin>